# backend/.gitignore
node_modules/
.env
dist/
logs/
notes.txt
/config/firebase/firebase_secret_key.json

# Firebase Emulators
firebase.json
.firebaserc
key.properties
serviceAccountKey.json
firestore.rules